* {margin: 50px; box-sizing: border-box;}

body {
    font-size: 16px;
    font: arial;
    color: black;
}

h1 {
    font-size: 32px;
    Color: black;

}

h2 {
    font-size: 29px;
    color: black;

}

h3 {
    font-size: 26px;
    Color: black;

}

header, main, footer {
    margin: 1rem auto;
    padding: 0px;
    max-width: 2000px;
}
header {
    text-align: center;
    background-color: blue;
}

h1 header {
    font-size: 48px;
    font: "Comic Sans MS";
}

header img {
    width: 500px;
    height: auto;
    float: unset;
}

footer {
    text-align: center;
    background-color: blue;
    font-size: 26px;

}

nav {
    background-color: green;
}

nav li a {
    text-align: center;
    color: black;
}

nav li a em {
    color: black;
}

